<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/22d0566d-0d9a-42be-9fbd-4872476f17eb/resourceGroups/dougTest/providers/Microsoft.Web/sites/prjanimetest</ResourceId>
    <ResourceGroup>dougTest</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://prjanimetest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d2bee5ed-1784-4a76-8d75-d3655bb6a0e5</ProjectGuid>
    <PublishUrl>https://prjanimetest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$prjanimetest</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>